@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #0e0e0e;
}
main {
  width: 100%;
  padding: 0 1.5rem;
}
.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 85%;
    object-fit: cover;
  }

  h1 {
    font-size: 3.1rem;
    color: #dac5a7;
    font-weight: 300;
  }
  p {
    color: #dac5a7;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  br {
    display: block;
  }
}

.view-2 {
  width: 100%;
  color: #dac5a7;
  padding: 4rem 5rem;
  display: flex;
  justify-content: center;

  .marquee {
    display: flex;
    flex-direction: row;
    width: 65%;
    overflow: hidden;
    position: relative;
  }
  .marquee::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0e0e0e, transparent);
    z-index: 10; /* ensures it sits on top */
  }
  .marquee::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, #0e0e0e, transparent);
    z-index: 10; /* ensures it sits on top */
  }

  .text {
    display: flex;
    gap: 3rem;
    animation: marquee 10s linear infinite;

    p {
      font-size: 2rem;
      font-weight: 300;
    }

    p:last-child {
      margin-right: 3rem; /* Add extra space on the right side of the last element */
    }
  }
}
.my-servies-logo{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    a{
        text-decoration: none;
        display: flex;
        align-items:center;
        gap: 1rem;
    }
    img {
        background-color: #23211E;
        border-radius: 50%;
        padding: 0.5rem;
        width: 2.5rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    img:hover{
        background-color: #dac5a751;
        border: 0.5px solid #dac5a7;
    }
    p{
        font-size: 1.2rem;
        font-weight: 300;
        color: #dac5a7;
    }
} 



@keyframes marquee {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@media (min-width: 1020px) {
  // 100vw = 1440px
  // 10vw = 144px
  // 1vw = 14.4px

  // 1rem = 16px

  html {
    font-size: clamp(16px, 1vw, 20px);
  }

  .view-1 {
    img {
      width: 35%;
    }
    h1 {
      font-size: 8rem;
      font-weight: 300;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}
