@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.Main-heading{
    font-size: 40px;
    font-family: 'Poppins';
    padding-left: 20px;
}
.navbar{
    height: 50px;
    background: #3296D7;
    text-align: center;
    padding-top: 20px;
    
}
.custom-bg{
    background: #F5F5F5;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
}
.second-blog{
    background: #ffffff;
    padding: 10px;
}
.white-bg{
    background: white;
    padding: 10px;
}
.second-heading{
    font-size: 30px;
    font-family: 'Poppins';
}
p{
    font-size: 20px;
    font-family: 'Poppins';
    
}
img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}
b{
    font-family: 'Poppins';
    font-size: 20px;
}
ul{
    font-family: 'Poppins';
    font-size: 20px;
}
.second-blog{
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 20px;
}

footer p{
    background: #3296D7;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'Poppins';
    font-size: 20px;
}