*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    margin-left: 500px;
    background: #000;
    perspective: 700px;
}

/* button:hover{
    background-color: #ff0000;
} */
/*


input:focus{
    color: #ff0000;
} */


/* input:active{
    border: 2px solid #ff0000;
} */

/* li{
    color: aqua;
}
li::before{
    content: '❕';
} */

/* a{
    color: #ff0000;
} */

/* button{
    background-color: red;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #ffffff;
} */

.box{
    background: #ff0000;
    width: 200px;
    height: 200px;
    /*transform: skew(10deg,25deg);
    */
    
    
    /* transition: all 0.3s ease-in-out; */
    animation: chacha 3s infinite cubic-bezier(0.19, 1, 0.22, 1) 1s both;
    -webkit-animation: chacha 3s infinite cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
.box:hover{
    /*transform: translate(300px, 100px);
    *//*transform: scale(1.5);
    -webkit-transform: translate3d(10px,20px,400px);
    -moz-transform: translate3d(10px,20px,400px);
    -ms-transform: translate3d(10px,20px,400px);
    -o-transform: translate3d(10px,20px,400px);
    *//*transform: translate3d(10px,20px,-400px);
    -webkit-transform: translate(10px,20px,400px);
    -moz-transform: translate(10px,20px,400px);
    -ms-transform: translate(10px,20px,400px);
    -o-transform: translate(10px,20px,400px);
    */
}


@keyframes chacha {
    0%{
        background: #ff0000;
    }
    50%{
        background: green;
    }
    100%{
        background: #ff0000;
    }
}