*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.grid-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    width: 500px;
    background-color: lightgray;
    display: grid;
    gap: 10px;
    /* align-items: center; */
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    padding: 10px;
    font-size: 30px;
    background-color: blueviolet;
}








@media (max-width: 600px) {
    .grid-container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .grid-item{
        font-size: 20px;
    }
    
}