*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    background-color: black;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field a{
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
    transition: 0.3s all ease;
}
.input-field a:active{
    color: rgb(51, 232, 87);
}
.divs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
}
.div{
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

input{
    background-color: black;
    color: white;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    padding: 10px;
}
.div:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(51, 232, 87);
    color: black;
}
.div:first-child{
    background-color: red;
}
.div:last-child{
    background-color: rgb(8, 94, 255);
}
.div:nth-child(3){
    background-color: rgb(255, 2, 238);
}
input:focus{
    border: 1px solid #00ff00;
}

button{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 2rem;
    border: 1px solid rgb(51, 232, 87);
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(51, 232, 87);
    color: rgb(255, 0, 0);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.line{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    animation: bounce 0.9s infinite linear;
    -webkit-animation: bounce 0.9s infinite linear;
    background-image: url('https://cdn-icons-png.flaticon.com/512/25/25231.png');
    background-size: cover;
}

.line:hover{
    scale: 1.2;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.india-flag{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}